
    <div class="head_login">
        <a href="/"><img class="header_main" src="/uploads/logo.jpg" alt="logo_img"/></a>
        <div class="head_search">
            <input type="text" class="search" placeholder="검색어 입력" name="search"/>
            <button type="submit">검색</button>
        </div>
        {% if user and user.id %}
        <form action="/auth/logout" method="post" class="logout">
            <a href="/mypage" class="mypage">{{user.nick + '님'}}</a>
            <button type="submit">로그아웃</button>
        </form>
        {% else %}
        <a href="/login"><button class="login">로그인</button></a>
        {% endif %}
    </div>
    <div class="head_menu">
        <nav class="menu_bar">
            <li><a href="/brand">브랜드 소개</a></li>
            <li><a href="/parfumSearch">원하는 향수 찾기</a></li>
            <li><a href="/storeSearch">가까운 시향 매장</a></li>
            <li><a href="/boardList">Q&A</a></li>
        </nav>
    </div>