
    <a href="/"><img class="header_main" src="/uploads/logo-clean.png" width="1000" height="300" alt="x"/></a>
    <nav>
        <li><a href="">브랜드 소개</a></li>
        <li><a href="">원하는 향수 찾기</a></li>
        <li><a href="">가까운 시향 매장</a></li>
        <li><a href="/qnalist">Q&A</a></li>
    </nav>
    {% if user and user.id %}
    <div class="user-nickname">{{user.nick + '님'}}</div>
    <a href="/mypage"><button type="button" class="mypage">마이 페이지</button></a>
    <form action="/auth/logout" method="post">
        <button class="logout" type="submit">로그아웃</button>
    </form>
    {% else %}
    <a href="/login"><button class="login">로그인</button></a>
    {% endif %}
