<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfum Library</title>
    <link rel="stylesheet" href="/main.css" />
    {% block style %}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <section>
    메인페이지 입니당.
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>