<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/parfum/parfumList.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <section>
        <div class="parfum_list">
            {% for parfum in parfums %}
            <div class="list_container">
                <a href="/parfumRead?no={{parfum.id}}">
                    <img src="/uploads/{{parfum.photo}}"/>
                    <span class="list_brandname">{{parfum.brandname}}</span>
                    <span class="list_name">{{parfum.name}}</span>
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="/parfumWrite">글 작성</a>
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>