<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/parfum/parfumRead.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
    {% include 'header.html' %}
    </header>
    <section>
        <div class="parfum_read">
            <div class="read_information">
                <img src="/uploads/{{parfums.photo}}"/>
                <div class="read_main">
                    <p class="read_parfumname">{{parfums.name}}</p>
                    <p class="read_brandname">{{parfums.brandname}}</p>
                    <p class="read_component">향수 성분 : {{parfums.component}}</p>
                </div>
            </div>
            <form action="/post/comment" method="post">
                <span>댓글 입력</span>
                <div class="create_comment">
                    <input type="hidden" value="{{parfums.id}}" name="parfumno" />
                    <input type="hidden" value="{{user.nick}}" name="usernick" />
                    <input type="hidden" value="{{parfums.brandname}}" name="parfumbrandname" />
                    <input type="hidden" value="{{parfums.name}}" name="parfumname" />
                    <textarea name="content" placeholder="향수에 대한 댓글을 입력해주세요." rows="4" cols="70"></textarea>
                    <button type="submit">등록</button>
                </div>
            </form>
            <div class="read_comment">
                <p>댓글</p>
                <hr>
                {% for post in posts %}
                <div class="comment_usernick">{{post.user_nick}}   <span>{{post.createdAt}}</span></div>
                <div class="comment_content">{{post.content}}</div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>