<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/user/join.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <section>
        <form action="/auth/join" name="join_form" method="post">
            <div class="join">
                <span class="main_join">아이디</span>
                <input type="text" class="join_id" name="userid" maxlength="12" placeholder="6~12 영어와 숫자로만 입력"/>
                <span class="small_join" id="small_id">아이디는 6자리 이상 12자리 이하로 영어 소문자와 숫자로만 입력해주세요.</span>
                <span class="main_join">비밀번호</span>
                <input type="password" class="join_pwd" name="password" maxlength="16" placeholder="비밀번호 입력"/>
                <span class="small_join" id="small_pw1">비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리로 입력해주세요.</span>
                <span class="main_join">비밀번호 재확인</span>
                <input type="password" class="join_pwd2" maxlength="16" placeholder="비밀번호 재입력"/>
                <span class="small_join" id="small_pw2">입력한 비밀번호와 같은 비밀번호로 입력해주세요.</span>
                <span class="main_join">닉네임</span>
                <input type="text" class="join_nick" name="nick" maxlength="8" placeholder="8자 이하로 입력"/>
                <span class="small_join" id="small_nick">닉네임은 8자리 이하로 입력해주세요.</span>
                <span class="main_join">이름</span>
                <input type="text" class="join_name" name="name"/>
                <span class="small_join" id="small_name">이름을 입력해주세요.</span>
                <span class="main_join">이메일</span>
                <span>
                    <input type="text" class="join_email1" name="email1"/> @ 
                    <select name="email2" class="join_email2">
                        <option value="">이메일 입력</option>
                        <option value="naver.com">naver.com</option>
                        <option value="daum.net">daum.net</option>
                        <option value="gmail.com">gmail.com</option>
                    </select>
                </span>
                <span class="small_join" id="small_email">이메일을 입력해주세요.</span>
                <span class="main_join">휴대폰 번호</span>
                <input type="text" class="join_phone" name="phone" placeholder="'-'없이 입력"/>
                <span class="small_join" id="small_phone">휴대폰 번호를 입력해주세요.</span>
                <span class="main_join">성별</span>
                <span>
                    <select name="gender" class="join_gender">
                        <option value="">성별을 선택해주세요.</option>
                        <option value="M">남자</option>
                        <option value="F">여자</option>
                    </select>
                </span>
                <span class="small_join" id="small_gender">성별을 입력해주세요.</span>
                <span class="main_join">생일</span>
                <input type="date" class="join_birth" name="birth"/>
                <span class="small_join" id="small_birth">생일을 입력해주세요.</span>
                <span class="main_join">주소</span>
                <span><input type="text" id="join_zipcode" name="zipcode" placeholder="우편번호">
                <input type="button" onclick="zipcode1()" value="우편번호 찾기" id="join_search"/></span>
                <span><input type="text" id="join_address" name="address" placeholder="주소"><br>
                <input type="text" id="join_detailAddress" name="detailaddress" placeholder="상세주소"></span>
                <span class="small_join" id="small_address">주소를 입력해주세요.</span>
                <div class="but">
                    <button type="button" class="join_sub" onclick="join_check();">회원가입</button>
                    <a href="/"><button type="button" class="join_cancel">취소</button></a>
                </div>
            </div>
        </form>
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <script src="../user/join.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function zipcode1() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                    }
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('join_zipcode').value = data.zonecode;
                    document.getElementById("join_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("join_detailAddress").focus();
                }
            }).open();
        }
    </script>
</body>
</html>