section .parfum_read {
    width: 70%;
    margin-left: 15%;
    height: 800px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

section .parfum_read .read_information {
    width: 100%;
    height: 250px;
    display: flex;
}

section .parfum_read .read_information img {
    width: 400px;
    height: 250px;
}

section .parfum_read .read_information .read_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 100%;   
}

section .parfum_read .read_information .read_main .read_parfumname {
    font-size: 30px;
    color: rgb(2, 35, 2);
    font-weight: 300;
    height: 40px;
}

section .parfum_read .read_information .read_main .read_brandname {
    font-size: 20px;
    color: gray;
    height: 30px;
}

section .parfum_read .read_information .read_main .read_component {
    font-size: 15px;
    color: darkgray;
    height: 25px;
}

section .parfum_read form {
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

section .parfum_read form .create_comment {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    border: 1px solid rgb(2, 35, 2);
}

section .parfum_read form .create_comment textarea {
    font-size: 15px;
    margin-left: 30px;
}

section .parfum_read form .create_comment button {
    height: 70px;
    width: 80px;
    background-color: rgb(5, 67, 5);
    color: bisque;
    border-radius: 5px;
    border: 1px solid rgb(2, 35, 2);
    margin-left: 10px;
}

section .parfum_read .read_comment {
    margin-top: 30px;
    border-bottom:1px solid black;
}

section .parfum_read .read_comment .comment_usernick {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(2, 35, 2);
    margin-left: 20px;
}

section .parfum_read .read_comment .comment_usernick span {
    color: darkgray;
    font-size: 10px;
    margin-left: 30px;
}

section .parfum_read .read_comment .comment_content {
    margin-bottom: 10px;
    margin-left: 10px;
}