<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <form action="/qna/create" method="post">
    제목 : <input type="text" name="subject" placeholder="30자 이하로 입력해주세요." maxlength="30"/>작성자 : {{user.nick}}<br/>
    <input type="text" name="nick" value="{{user.nick}}" hidden/>
    <hr />
    내용 : <textarea name="content"></textarea>
    <button type="submit">글 등록</button>
    </form>
    <a href="/qnalist">취소</a>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>