<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <table>
        게시판
        <tr>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        {% for board in boards %}
        <tr>
            <td><a href="/boardRead?id={{board.id}}">{{board.subject}}</a></td>
            <td>{{board.author}}</td>
            <td>{{board.createdAt}}</td>
            <td>{{board.watch}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/boardWrite">글 쓰기</a>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>