<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css" />
    <title>Parfum Library</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <section>
        <form action="/brand/write" method="post">
            브랜드 이름 : <input type="text" class="writeBrandName" name="brandname" />
            향수 이름 : <input type="text" class="writeParfumName" name="name" />
            <button type="submit">향수 등록</button>
        </form>
        <form action="/brand/brandCreate" method="post">
            브랜드 이름 : <input type="text" class="writeName" name="name" />
            나라 : <input type="text" class="writeCountry" name="country" />
            <button type="submit">브랜드 등록</button>
        </form>
    </section>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>